<!DOCTYPE html>
<html>


<head>
    <meta name="robots" content="index, nofollow" />

    {% include 'include.html' %}
    <title>About - Secure Storage</title>
    <meta name="description" content="About us">

</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark">
        <div class="container-fluid"><a class="navbar-brand secure-text-logo" href="#"><i class="fa fa-lock"></i>&nbsp; Secure Storage</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav float-right flex-grow-1 justify-content-end">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'home_page' %}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'how-it-works' %}">How it works</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'about_page' %}">About</a></li>
                    <li class="nav-item" role="presentation" data-bs-hover-animate="rubberBand"></li>
                </ul>
        </div>
        </div>
    </nav>
    <h1 class="text-center">About</h1>
    <div class="card mb-3" style="width: 30%; float: left;">
        <h3 class="card-header">Mukund M</h3>
        <img style="height: 200px; width: 70%; display: block; margin-left: 67px;" src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="Card image">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ENG17CT0010</li>
          <li class="list-group-item">Computer Technology</li>
          <li class="list-group-item">6<sup>th</sup> Semester</li>
          <li class="list-group-item">Team Lead</li>
        </ul>
    </div>
      
    <div class="card mb-3" style="width: 30%; float: left;">
        <h3 class="card-header">Satish.CH</h3>
        <img style="height: 200px; width: 70%; display: block; margin-left: 67px;" src="https://api.adorable.io/avatars/285/haha@adorable.io.png" alt="Card image">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ENG17CT0020</li>
            <li class="list-group-item">Computer Technology</li>
            <li class="list-group-item">6<sup>th</sup> Semester</li>
            <li class="list-group-item">Team Member</li>
        </ul>
    </div>
</body>

</html>